<div id="<%= dom_id cart %>">
<p style="color: green; margin-left: 0;"><%= notice %></p>


<h2>Shopping cart :</h2>
<h4>Total Price: <%= @cart.total_price%></h4>
  <div style="display: flex; gap: 10px;">
    <%= button_to("Empty Cart", @cart, method: :delete, data: { confirm: "Are you sure?" }) %>
    <%= button_to("Check out", new_order_path, method: :get) %>
  </div>
<ul>
  <% @cart.lineitems.each do |item| %>
    <li><%= item.product.name %> - <%= item.quantity %> - <%= item.product.price %></li>
  <% end %>
</ul>
</div>
