<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Hw5" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body class="<%= controller.controller_name %>">
    <div id="banner"> </div>
    <h1 style="text-align: center;">My Offer Store</h1>
    <div id="columns">
      <div id="side">
        <% if session[:user_id] %>
          <p>Welcome, <%= User.find(session[:user_id]).name %></p>
          <%= link_to "Logout", logout_path, method: :delete %>
          <%= link_to "Products", products_path %>
        <% else %>
          <%= link_to "Login", login_path %>
        <% end %>
        <%= render(@cart) if @cart%>
      </div>
      <div id="main">
        <% flash.each do |key, message| %>
          <div class="flash <%= key %>"><%= message %></div>
        <% end %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
